/************************/
/* Section Header */
/************************/
.header {
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 2.2rem;
}

/* navigation */
.main-nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:active,
.main-nav-link.nav-cta:hover {
  background-color: #cf711f;
}

/*********************/
/* Section Hero */
/*********************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

/* ----- delivered-meals start --------*/
.delivered-meals {
  width: 100%;
  margin-top: 8rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-meals img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-meals img:last-child {
  margin-right: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* ----- delivered-meals end --------*/

/* ----- hero-img-box ------*/
.hero-img {
  width: 100%;
}

/**************/
/* Section  how */
/**************/
.section-how {
  padding: 9.6rem 0;
  /* background-color: orangered; */
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img {
  width: 35%;
}
.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  /* height: 60%; */
  /* 60% of parent's width */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 60%;
  /* height: 60%; */
  /* 60% of parent's width */
  padding-bottom: 60%;
  background-color: #fdf2e9;

  z-index: -2;
}
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;

  z-index: -1;
}
