/* rem and em do NOT depend on html font-size in media queries!
   instead, 1rem = 1em = 16px
 */

/*********************/
/* Below 1344px (Smaller desktops)  */
/*********************/
@media (max-width: 84rem) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*********************/
/* Below 1200px (Landscape Tablets)  */
/*********************/
@media (max-width: 75rem) {
  html {
    font-size: 56.25%;
  }
  .grid {
    row-gap: 4.8rem;
    column-gap: 6.4rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .testimonials-container {
    padding: 3.2rem;
  }
}

/*********************/
/* Below 944px ( Tablets)  */
/*********************/
@media (max-width: 59rem) {
  html {
    /* 8 / 16 */
    font-size: 50%;
  }

  /* section header mobile naviagation */
  .btn-mobile-nav {
    display: block;
  }

  .icon-mobile-nav[name="menu-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .header {
    position: relative;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100vh;
    width: 100%;

    /* animation */
    backdrop-filter: blur(5px);
    transition: all 1s ease-in;
    transform: translateX(100%);

    /* hidden elemeny */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    /* position */
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-open .main-nav {
    visibility: visible;
    pointer-events: auto;

    /* animation */
    opacity: 1;
    transform: translateX(0);
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  /* section hero */
  .hero {
    text-align: center;
    padding: 0 8rem;

    grid-template-columns: 1fr;
    gap: 6.4rem;
  }

  .hero-img {
    width: 60%;
  }
  .hero-description {
    margin-bottom: 3.2rem;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  /* section featured */
  .logos img {
    height: 2.4rem;
  }
  /* section how */
  .step-number {
    font-size: 7.4rem;
  }
  /* common grid layout */
  .grid {
    gap: 4.8rem;
  }

  /* section meal */
  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
  .section-meals .heading-secondary {
    margin-bottom: 6.4rem;
  }

  /* section testimonials */
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .testimonials-container {
    padding: 6.4rem 3.2rem 6.4rem 3.2rem;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 6.4rem;
  }

  /* section cta */
  .cta-form {
    grid-template-columns: 1fr;
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .btn--form {
    margin-top: 1.2rem;
  }

  /*********************/
  /* Below 704px (Small Tablets)  */
  /*********************/
  @media (max-width: 44rem) {
    .grid--3-cols,
    .grid--4-cols {
      grid-template-columns: repeat(2, 1fr);
    }
    .diets {
      grid-column: 1 / -1;
      justify-self: center;
    }
    .heading-secondary {
      margin-bottom: 4.8rem;
    }
    .pricing-plan {
      width: 100%;
    }

    /* footer section */
    .grid--footer {
      grid-template-columns: repeat(6, 1fr);
    }

    .nav-col {
      grid-row: 1;
      grid-column: span 2;
      margin-bottom: 3.2rem;
    }
    .logo-col,
    .address-col {
      grid-column: span 3;
    }
  }
}

/*********************/
/* Below 560px (iphones)  */
/*********************/
@media (max-width: 35rem) {
  .section-hero {
    padding: 3.2rem 0 6.4rem 0;
  }
  .hero {
    padding: 0 3.2rem;
  }
  .logos img {
    height: 1.2rem;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  .grid {
    row-gap: 6.4rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.6rem 1.6rem;
  }
  .hero-img {
    width: 80%;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .step-img-box {
    transform: translateY(4.8rem);
  }
  .heading-secondary {
    margin-bottom: 3.2rem;
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-text-box {
    padding: 3.2rem;
  }
  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }
}

/* 

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 */
